.EventsListItem {
  text-decoration: none;
}

.EventsListItem li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--text-color);
  padding: 30px 40px;
  margin-bottom: 2px;
  background-color: var(--color-1);
  font-size: 1.2em;
  border-radius: 4px;
  width: 70vw;
  color: var(--text-color);
  font-weight: bold;
}

.EventsListItem li:hover {
  background-color: var(--color-2);
}

.event-names {
  text-align: center;
}

.event-dates,
.event-times {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .EventsListItem li {
    padding: 20px 20px;
    margin-bottom: 10px;
    font-size: 0.8em;
    width: 100%;
    color: var(--text-color);
    font-weight: normal;
  }
}
