.App-header {
  text-align: center;
  padding: 15px 0px;
  background-color: var(--color-1);
}

.App-logo {
  height: 12vh;
}

@media only screen and (max-width: 768px) {
  .App-logo {
    height: 8vh;
  }
}
