.events-main {
  min-height: 72vh;
}

.tab-switcher {
  text-align: center;
  margin-top: 30px;
}

.tabs {
  display: inline-flex;
  list-style-type: none;
}

.tab {
  background-color: var(--background-color);
  padding: 10px 20px;
  font-size: 1.3em;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  text-decoration: none;
}

.tab:hover {
  background-color: var(--color-1);
  color: var(--text-color);
  cursor: pointer;
}

.tab.is-active {
  background-color: var(--text-color);
  color: var(--background-color);
}

.pages {
  padding: 25px 50px;
}

.pages .page {
  display: none;
}

.page.is-active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .events-main {
    min-height: 100vh;
  }

  .tab {
    background-color: var(--background-color);
    padding: 10px 20px;
    font-size: 1em;
    color: var(--text-color);
    border-radius: 4px;
    font-weight: bold;
  }

  .pages {
    padding: 20px 10px;
  }

  .tab.is-active {
    background-color: var(--text-color);
    color: var(--background-color);
  }

  .page.is-active {
    display: block;
  }
}
